<!-- <app-loading></app-loading> -->
<div class="page-wraper">
	<!-- header -->
    <app-header1 [data]="profile"></app-header1>
    <!-- header END -->
	<app-page-banner [data]="page_banner"></app-page-banner>
  <app-social-bar></app-social-bar>
	
	<div class="content-body">
		<div class="content-body-inner">
			
			<!-- About Info -->
			<div class="section-full">
				<div class="section-head" style="margin-top: 178px;">
					<h2 class="title text-uppercase">Eres cliente iuris? <span class="text-gradient">Revisa tus expedientes</span></h2>
				</div>
				<div class="contact-form">
					<form method="post" class="dzForm dezPlaceAni" action="script/contact.php">
						<div class="dzFormMsg"></div>
						<input type="hidden" value="Contact" name="dzToDo" >
						<div class="row" style="height: 64vh;display: flex;justify-content: center;align-items: center;">
							<div class="col-sm-12">
								<div class="form-group">
									<i class="las la-user text-gradient"></i>
									
									<input name="dzName" placeholder="Ingrese Correo" type="text" required class="form-control ">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<i class="las la-envelope-open text-gradient"></i>
									
									<input name="dzEmail" placeholder="Ingrese Contrasena"  type="password" class="form-control" required >
								</div>
							</div>
							<div class="col-md-12 m-b20 m-xs-b0 ">
								<div class="g-recaptcha" data-sitekey="6LefsVUUAAAAADBPsLZzsNnETChealv6PYGzv3ZN" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
								<input class="form-control d-none" style="display:none;" data-recaptcha="true" required data-error="Please complete the Captcha">
							</div>
							<div class="col-md-4"></div>
							<div class="col-md-4 centered">
								<button name="submit" type="submit" value="Submit" class="site-button button-gradient button-md radius-no">Iniciar Sesion</button>
							</div>
							<div class="col-md-4"></div>
						</div>
					</form>
				</div>
			</div>
			
			
			
		</div>
	</div>
</div>