.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 10%;
}
.p{
    font-size: 27px;
    font-weight: bold;
    background: #ffffff;
}
.bacground{
    background-color: #ffffff;
}
.border{
    border-bottom: 1px solid #000000;
    padding-top: 10px;
}