<!-- <app-loading></app-loading> -->
<div class="page-wraper">
	<!-- header -->
    <app-header1 [data]="profile"></app-header1>
    <!-- header END -->
	<div class="banner-section line-move" style="background-image:url(assets/images/image1.jpg); background-size:cover;">
		<div class="banner-inner bnr-center">
			<h3 class="sub-title">Somos <span class="text-gradient">Iuris</span></h3>
			<h2 class="title">Asesorias Juridicas</h2>
			<a routerLink="/acerca-iuris" class="site-button outline button-md outline-half">Acerca de nosotros</a>
		</div>
		<!-- <app-social-bar></app-social-bar> -->
		<!-- <app-copywrite></app-copywrite> -->
		<app-user-card [data]="member"></app-user-card>
	</div>
</div>