
<div class="page-wraper">
	<!-- header -->
    <app-header1 [data]="profile"></app-header1>
    <!-- header END -->
	<app-page-banner [data]="page_banner"></app-page-banner>
  <app-social-bar></app-social-bar>
	
	<div class="content-body">
		<div class="content-body-inner">
			<!-- About Info -->
			<div class="section-full">
				
			</div>
			<div class="section-full">
				<div class="section-head m-b20">
					<h2 class="title text-uppercase" style="display: flex;justify-content: center;align-items: center;"><span class="text-gradient">El equipo de asesores de IURIS</span></h2>
				</div>
				<div *ngIf="load" class="clearfix">
					<ul id="masonry" class="dlab-gallery-listing gallery lightgallery row sp40">
          <ng-template ngFor let-portfolio [ngForOf]="portfolios">
            <li class="{{portfolio.filter_class}} card-container col-xl-4 col-lg-6 col-md-6 col-sm-6  wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.6s">
							<div class="dlab-box dlab-gallery-box">
								<div class="dlab-media">
									<img src="{{portfolio.image}}" alt=""/>
                  
									<span data-exthumbimage="{{portfolio.image}}" data-src="{{portfolio.src_image}}" class="check-km" title="{{portfolio.title}}">
                  
										<i class="la la-plus"></i> 
									</span>
								</div>
								<div class="dlab-info">
									<h4 class="title" style="text-transform: uppercase;">{{portfolio.title}}</h4>
									<span style="text-transform: uppercase;">{{portfolio.category}}</span>
								</div>
							</div>
						</li>
            </ng-template>
						<!-- <li class="card-container col-xl-4 col-lg-6 col-sm-6 design wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.4s">
							<div class="dlab-box dlab-gallery-box">
								<div class="dlab-media">
									<img src="assets/images/gallery/business-man/pic2.jpg" alt=""/>
									<span data-exthumbimage="assets/images/gallery/business-man/pic2.jpg" data-src="assets/images/gallery/business-man/orignal/main-pic2.jpg" class="check-km" title="Design">		
										<i class="la la-plus"></i> 
									</span>
								</div>
								<div class="dlab-info">
									<h4 class="title">MOCKUP COLLECTION</h4>
									<span>DESIGN</span>
								</div>
							</div>
						</li>
						<li class="card-container col-xl-4 col-lg-6 col-sm-6 development photography wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
							<div class="dlab-box dlab-gallery-box">
								<div class="dlab-media">
									<img src="assets/images/gallery/business-man/pic3.jpg" alt=""/>
									<span data-exthumbimage="assets/images/gallery/business-man/pic3.jpg" data-src="assets/images/gallery/business-man/orignal/main-pic3.jpg" class="check-km" title="Design">		
										<i class="la la-plus"></i> 
									</span>
								</div>
								<div class="dlab-info">
									<h4 class="title">MOCKUP COLLECTION</h4>
									<span>DESIGN</span>
								</div>
							</div>
						</li>
						<li class="card-container col-xl-4 col-lg-6 col-sm-6 design wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1.6s">
							<div class="dlab-box dlab-gallery-box">
								<div class="dlab-media">
									<img src="assets/images/gallery/business-man/pic4.jpg" alt=""/>
									<span data-exthumbimage="assets/images/gallery/business-man/pic4.jpg" data-src="assets/images/gallery/business-man/orignal/main-pic4.jpg" class="check-km" title="Design">		
										<i class="la la-plus"></i> 
									</span>
								</div>
								<div class="dlab-info">
									<h4 class="title">MOCKUP COLLECTION</h4>
									<span>DESIGN</span>
								</div>
							</div>
						</li>
						<li class="card-container col-xl-4 col-lg-6 col-sm-6 photography wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1.4s">
							<div class="dlab-box dlab-gallery-box">
								<div class="dlab-media">
									<img src="assets/images/gallery/business-man/pic5.jpg" alt=""/>
									<span data-exthumbimage="assets/images/gallery/business-man/pic5.jpg" data-src="assets/images/gallery/business-man/orignal/main-pic5.jpg" class="check-km" title="Design">		
										<i class="la la-plus"></i> 
									</span>
								</div>
								<div class="dlab-info">
									<h4 class="title">MOCKUP COLLECTION</h4>
									<span>DESIGN</span>
								</div>
							</div>
						</li>
						<li class="card-container col-xl-4 col-lg-6 col-sm-6 design wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1.2s">
							<div class="dlab-box dlab-gallery-box">
								<div class="dlab-media">
									<img src="assets/images/gallery/business-man/pic6.jpg" alt=""/>
									<span data-exthumbimage="assets/images/gallery/business-man/pic6.jpg" data-src="assets/images/gallery/business-man/orignal/main-pic6.jpg" class="check-km" title="Design">		
										<i class="la la-plus"></i> 
									</span>
								</div>
								<div class="dlab-info">
									<h4 class="title">MOCKUP COLLECTION</h4>
									<span>DESIGN</span>
								</div>
							</div>
						</li>
						<li class="card-container col-xl-4 col-lg-6 col-sm-6 development photography wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1.8s">
							<div class="dlab-box dlab-gallery-box">
								<div class="dlab-media">
									<img src="assets/images/gallery/business-man/pic7.jpg" alt=""/>
									<span data-exthumbimage="assets/images/gallery/business-man/pic7.jpg" data-src="assets/images/gallery/business-man/orignal/main-pic7.jpg" class="check-km" title="Design">		
										<i class="la la-plus"></i> 
									</span>
								</div>
								<div class="dlab-info">
									<h4 class="title">MOCKUP COLLECTION</h4>
									<span>DESIGN</span>
								</div>
							</div>
						</li>
						<li class="card-container col-xl-4 col-lg-6 col-sm-6 design wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1.6s">
							<div class="dlab-box dlab-gallery-box">
								<div class="dlab-media">
									<img src="assets/images/gallery/business-man/pic8.jpg" alt=""/>
									<span data-exthumbimage="assets/images/gallery/business-man/pic8.jpg" data-src="assets/images/gallery/business-man/orignal/main-pic8.jpg" class="check-km" title="Design">		
										<i class="la la-plus"></i> 
									</span>
								</div>
								<div class="dlab-info">
									<h4 class="title">MOCKUP COLLECTION</h4>
									<span>DESIGN</span>
								</div>
							</div>
						</li>
						<li class="card-container col-xl-4 col-lg-6 col-sm-6 development photography wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1.4s">
							<div class="dlab-box dlab-gallery-box">
								<div class="dlab-media">
									<img src="assets/images/gallery/business-man/pic9.jpg" alt=""/>
									<span data-exthumbimage="assets/images/gallery/business-man/pic9.jpg" data-src="assets/images/gallery/business-man/orignal/main-pic9.jpg" class="check-km" title="Design">		
										<i class="la la-plus"></i> 
									</span>
								</div>
								<div class="dlab-info">
									<h4 class="title">MOCKUP COLLECTION</h4>
									<span>DESIGN</span>
								</div>
							</div>
						</li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>