<!-- <app-loading></app-loading> -->
<div class="page-wraper">
	<!-- header -->
    <app-header1 [data]="profile"></app-header1>
    <!-- header END -->
	<app-page-banner [data]="page_banner"></app-page-banner>
	<app-social-bar></app-social-bar>
	
	<div class="content-body">
		<div class="content-body-inner">
			<!-- About Image -->
			<div *ngIf="load" class="section-full wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
				<img src="{{storage+about.images}}" alt=""/>
			</div>
			
			<!-- About Info -->
			<div *ngIf="load" class="section-full content-inner-1">
				<div class="row align-items-center">
					<div class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
						<div class="section-head m-b0">
							<h2 class="title text-uppercase">{{page_info.title}}</h2>
							<p class="m-b0">{{about.what_i_do}}</p>
						</div>
					</div>
					<div class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
						<ul class="personal-info">
							<li><span style="text-transform: uppercase;">Años de servicio</span>{{about.service_age}}</li>
							<li><span style="text-transform: uppercase;">Pais</span>{{about.country}}</li>
							<li><span style="text-transform: uppercase;">Direccion</span>{{about.address}}</li>
							<li><span style="text-transform: uppercase;">E-MAIL</span><a href="#">{{about.email}}</a></li>
							<li><span style="text-transform: uppercase;">Telefono</span>{{about.phone}}</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- About Service -->
			<div *ngIf="load" class="section-full content-inner-1">
				<div class="section-head">
					<h2 class="title text-uppercase">Ofrecemos Asesorias en:</h2>
				</div>
				<app-my-services [data]="services"></app-my-services>
			</div>
			<!-- Counter -->
			
			<!-- Counter -->
			<div *ngIf="load" class="section-full content-inner-1">
				<div class="section-head">
					<h2 class="title text-uppercase">Algunos clientes comentan que:</h2>
				</div>
				<app-testimonial [data]="testimonials"></app-testimonial>
			</div>
			<!-- Counter -->
			
		</div>
	</div>
</div>
