<div class="resume-user">
  <div class="resume-info">
    <img src="{{data.logo}}" alt=""/>
    <h6 class="title">{{data.name}}</h6>
    <span class="text-primary">{{data.designation}}</span>
  </div>
  <a routerLink="/portfolio-{{data.profile}}" class="site-button">Acerca de Iuris</a>
</div>